$bk-ground:rgb(41, 36, 36);
$color:rgb(255, 255, 255);
$tac:center;
$indent-20px:20px;

%btn-input-reset{
  background-color: transparent;
  border: none;
  outline: none;
}

%footer-btns{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  &:hover{
    transition: 0.5s;
    transform: rotate(30deg);
  }
}
@mixin flex($j-content:center,$a-items:center,$f-direction:row){
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
  flex-direction: $f-direction;
}