$bk-ground:rgb(41, 36, 36);
$color:rgb(255, 255, 255);
$tac:center;
$indent-20px:20px;
$transition:0.5s;

%btn-input-reset{
  background-color: transparent;
  border: none;
  outline: none;
}


%settings-todo-blocks{
  width: 220px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 5px;
  display: none;
}

%footer-btns{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition:$transition;
  &:hover{
    transition: $transition;
    transform: rotate(30deg);
}
}
@mixin flex($j-content:center,$a-items:center,$f-direction:row){
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
  flex-direction: $f-direction;
}