.footer{
  position: relative;
  grid-area: footer;
  padding-bottom: 20px;
  .settings{
    @extend %btn-input-reset;
    @extend %footer-btns;
  }
  .settings__all{
    @extend %settings-todo-blocks;
    bottom: 50px;
    left: 20px;
  }
  .menu{
    color: black;
    padding: 10px;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 2px;
      height: 190px;
      background-color: black;
      position: absolute;
      top:5px;
      left:50%;
      border-radius: 5px;
    }
    &__items{
      @include flex(space-between,flex-start);
    }
    &__nav{
      display: none;
      position: absolute;
      top:20px;
      right: 0px;
      width: 100px;
    }
    &__subscribe{
      cursor: pointer;
      margin-bottom: 10px;
      width: 100px;
    }
    &__subitem{
      cursor: pointer;
    }
  }
  .wrapp{
    position: relative;
    @include flex(space-between);
    height: 180px;
    .quotes-btn{
      @extend %btn-input-reset;
      @extend %footer-btns;
    }
    
  }
  .quotes{
    @include flex(center,center,column);
    width: 400px;
    transition: $transition;
  }
  .quotes__subblock{
    text-align: center;
    order: -1;
  }
  .todo__btn,
  .settings,
  .quotes-btn{
    position: absolute;
    bottom: 0px;
  }
  .todo__btn{
    right: 20px;
    @extend %btn-input-reset;
    @extend %footer-btns;
    color: $color;
    font-size: 20px;
    &:hover{
      transform: none;
      text-shadow:1px 1px 2px rgb(177, 177, 176) ;
    }
  }
  .todo{
    transition: $transition;
  }
  .todo__block{
    @extend %settings-todo-blocks;
    bottom: 50px;
    right: 40px;
    padding: 10px;
    width: 330px;
    min-height: 200px;
    height: auto;
    .todo__input{
      position: absolute;
      bottom: 10px;
      outline: none;
      @extend %btn-input-reset;
      border-bottom: 2px solid rgb(65, 58, 58);
      font-weight: 700;
      font-size: 1em;
      padding-bottom: 7px;
    }
    .todo__edit_input,
    .todo__task{
      color: #000;
      margin-left: 25px;
      margin-top: 3px;
      width: 220px;
    }
    .todo__edit_input{
      outline: none;
      border: none;
      border-bottom: 2px solid rgb(65, 58, 58);
      font-weight: 700;
      font-size: 1em;
      padding-bottom: 7px;
    }
    .todo__item{
      @include flex(flex-start);
      margin-bottom: 5px;
      word-wrap: break-word;
      &:last-child{
        padding-bottom: 30px;
      }
    }
    .todo__complite{
      position: relative;
      border: none;
      -webkit-appearance: none;
      appearance: none;
    }
    .todo__complite::after{
      top:-7px;
      content: '';
      position: absolute;
      display: block;
      width: 13px;
      height: 13px;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      z-index: 2;
      
    }
    .todo__complite.tool::after{
      content: '✔';
      font-size: 20px;
      color: chocolate;
      font-weight: 700;
      @include flex();
    }
    
  }
  .task__through{
    text-decoration: line-through;
  }
  .task__delete,
  .task__edit{
    opacity: 1;
    @extend %btn-input-reset;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
    margin-top: 5px;
    color: rgb(65, 58, 58);
    transition:$transition;
    &:hover{
      color: #000;
      transition: $transition;
    }
  }
}
.menu__items:hover .menu__nav{
  display: block !important;
}


