.footer{
  position: relative;
  .settings{
    @extend %btn-input-reset;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      transition: 0.5s;
      transform: rotate(30deg);
    }
  }
  .settings__block{
    width: 220px;
    height: 200px;
    background-color: $color;
    position: absolute;
    border-radius: 5px;
    top:-210px;
    left:30px;
    display: none;
  }
  .menu{
    color: black;
    padding: 10px;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 2px;
      height: 190px;
      background-color: black;
      position: absolute;
      top:5px;
      left:50%;
      border-radius: 5px;
    }
    &__items{
      @include flex(space-between,flex-start);
    }
    &__nav{
      display: none;
      position: absolute;
      top:20px;
      right: 0px;
      width: 100px;
    }
    &__subscribe{
      cursor: pointer;
      margin-bottom: 10px;
      width: 100px;
    }
  }
  
}
.menu__items:hover .menu__nav{
  display: block !important;
}


