main {
  .time{
    grid-area: time;
    font-size: 100px;
    text-align: $tac;
    margin-top: 5%;
  }
  .day{
    text-align: $tac;
    font-size: 22px;
    grid-area: day;
  }
  .greeting {
    text-align: right;
    font-size: 35px;
    width: 270px;

  }
  .subblock{
    grid-area: greeting;
    width: 100%;
    margin-top: 10px;
    @include flex();
    input{
      margin-left: 10px;
      @extend %btn-input-reset;
      font-size: 35px;
      color: $color;
      width: 300px;
      margin-top: 3px;
    }
  }
}
.container-time{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 0.1fr;
  grid-template-areas: 'time'
                        'day'
                        'greeting'
  ;
}
.slider{
 width: 100%;
 @include flex(space-between);
 button{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
  width: $indent-20px;
  height: $indent-20px;
  @extend %btn-input-reset;
  cursor: pointer;
 }
 &__prev{
  left:$indent-20px;
 }
 &__next{
  right:$indent-20px;
 }
}