.player{
  &__controls{
    @include flex(flex-start,center)
  }
  &__btn{
    @extend %btn-input-reset;
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }
  &__btn_play{
    width: 45px;
    height: 45px;
  }
  &__list{
    margin-top: 15px;
  }
  &__track::before{
    content: '✔';
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-right: 10px;
  }
  &__track_active{
    color: rgba(68, 100, 68, 0.548);
    font-size: 16px;
  }
  &__track_active::before{
    color: rgba(68, 100, 68, 0.548);
  }
  @media screen and (max-width:1396px){
    iframe{
      position: absolute;
      width: 300px;
      height: 300px;
    }
  }
  
}